<h1>Reset password</h1>


<% 
 if(typeof error!=='undefined'){
    %>
    <h3 style="color:red"><%= error %></h3>
    <%
 }

%>
<form action="reset-password?token=<%=resetData.token %>" method="POST">
<input type="hidden" name="user_ID" value="<%=resetData.user_ID%>">
 <input type="password" name="password" required placeholder="New password">
<br> <br>
 <input type="password" name="c_password" required placeholder="Confrim password">
 <br> <br>
 <input type="submit" value="reset password">
 
</form>